.ident{
    color : #000000 ;
}
.spacer{
    margin-top: 20px;
}

.spacerbottom{
    margin-bottom: 10px;
}

.spacerrigth {
    margin-right: 10px;

}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #4288CA;
    color:#ffffff;
}

.clickable{
  cursor: pointer  
}

.inputmenu{
    margin-top: 10px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.titre{
background-color: #428bca;
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

